ion-item ion-icon {
    font-size: 25px; /* Cambia el tamaño del ícono */
    color: var(--ion-color-primary); /* Usa el color primario de tu tema */
    margin-right: 8px; /* Ajusta el espacio entre el ícono y el texto */
}